USE [master]
GO
/****** Object:  Database [Ozposlovi]    Script Date: 1.7.2020. 16:52:48 ******/
CREATE DATABASE [Ozposlovi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ozposlovi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ozposlovi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ozposlovi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Ozposlovi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ozposlovi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ozposlovi]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[CategoryName] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCategories]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCategories](
	[JobId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_JobCategories] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobLocations]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[JobId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[DetailedLocation] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[JobName] [nvarchar](255) NOT NULL,
	[JobResponsibilities] [text] NULL,
	[JobRequirments] [text] NULL,
	[JobDescription] [text] NOT NULL,
	[WorktimeId] [int] NOT NULL,
	[WorktimeDescription] [nvarchar](max) NULL,
	[PaymentId] [int] NOT NULL,
	[PaymentDescription] [nvarchar](max) NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsFeatured] [bit] NOT NULL,
	[IsPremium] [bit] NOT NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobUsers]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[JobId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[JobName] [nvarchar](255) NOT NULL,
	[JobDescription] [text] NOT NULL,
 CONSTRAINT [PK_JobUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[CityName] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUseCases]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUseCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[UsrCaseName] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleUseCases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseCaseLoggers]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseCaseLoggers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UseCaseDatetime] [datetime2](7) NOT NULL,
	[UserId] [int] NULL,
	[UseCaseName] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_UseCaseLoggers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.7.2020. 16:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Phone] [int] NULL,
	[Birthdate] [datetime2](7) NOT NULL,
	[CvPath] [nvarchar](max) NULL,
	[AvatarPath] [nvarchar](max) NULL,
	[AvatarAlt] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200526122030_Added_locations_and_categories', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200526123921_Added_jobs_and_cat_loc_configurations', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200526125815_Added_jobs_configuration_and_jobcat_relation', N'3.1.4')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CategoryName]) VALUES (1, 1, 0, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'IT Oblast')
INSERT [dbo].[Categories] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CategoryName]) VALUES (2, 1, 0, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'Menadzment')
INSERT [dbo].[Categories] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CategoryName]) VALUES (3, 1, 0, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'Administriranje')
SET IDENTITY_INSERT [dbo].[Categories] OFF
INSERT [dbo].[JobCategories] ([JobId], [CategoryId]) VALUES (1007, 1)
INSERT [dbo].[JobCategories] ([JobId], [CategoryId]) VALUES (1008, 1)
INSERT [dbo].[JobCategories] ([JobId], [CategoryId]) VALUES (1009, 1)
SET IDENTITY_INSERT [dbo].[JobLocations] ON 

INSERT [dbo].[JobLocations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [LocationId], [DetailedLocation]) VALUES (2, 1, 0, NULL, CAST(N'2020-06-26T13:44:15.6405138' AS DateTime2), NULL, 2, 1, NULL)
INSERT [dbo].[JobLocations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [LocationId], [DetailedLocation]) VALUES (3, 1, 0, NULL, CAST(N'2020-06-26T13:44:15.6405191' AS DateTime2), NULL, 2, 1002, N'Opis Lokacije')
INSERT [dbo].[JobLocations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [LocationId], [DetailedLocation]) VALUES (6, 1, 0, NULL, CAST(N'2020-06-26T16:16:53.4403022' AS DateTime2), NULL, 1, 1002, N'Beograd Izmena')
SET IDENTITY_INSERT [dbo].[JobLocations] OFF
SET IDENTITY_INSERT [dbo].[Jobs] ON 

INSERT [dbo].[Jobs] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobName], [JobResponsibilities], [JobRequirments], [JobDescription], [WorktimeId], [WorktimeDescription], [PaymentId], [PaymentDescription], [EndDate], [IsFeatured], [IsPremium]) VALUES (1, 1, 0, NULL, CAST(N'2020-06-25T15:56:09.4493901' AS DateTime2), CAST(N'2020-06-26T15:25:21.0298675' AS DateTime2), N'Prvi Posao Izmena', N'Odgovornosti posla Izmena', N'Zahtevi posla Izmena', N'Opis posla Izmena', 0, N'5 dana u ned 8-16 Izmena', 0, N'2000', CAST(N'2020-07-29T00:00:00.0000000' AS DateTime2), 1, 0)
INSERT [dbo].[Jobs] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobName], [JobResponsibilities], [JobRequirments], [JobDescription], [WorktimeId], [WorktimeDescription], [PaymentId], [PaymentDescription], [EndDate], [IsFeatured], [IsPremium]) VALUES (2, 0, 1, CAST(N'2020-06-26T16:26:12.0248719' AS DateTime2), CAST(N'2020-06-26T13:44:15.6400401' AS DateTime2), CAST(N'2020-06-26T16:26:12.0791806' AS DateTime2), N'Drugi posao', N'Odgovornosti posla dva', N'Zahtevi posla dva', N'Opis posla dva', 1, N'', 2, N'', CAST(N'2020-07-29T00:00:00.0000000' AS DateTime2), 1, 0)
INSERT [dbo].[Jobs] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobName], [JobResponsibilities], [JobRequirments], [JobDescription], [WorktimeId], [WorktimeDescription], [PaymentId], [PaymentDescription], [EndDate], [IsFeatured], [IsPremium]) VALUES (3, 1, 0, NULL, CAST(N'2020-06-28T13:30:22.9735566' AS DateTime2), NULL, N'Najnovoji Posao', N'Odgovornosti posla Izmena', N'Zahtevi posla Izmena', N'Opis posla Izmena', 0, N'5 dana u ned 8-16 Izmena', 0, N'2000', CAST(N'2020-07-29T00:00:00.0000000' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[Jobs] OFF
SET IDENTITY_INSERT [dbo].[JobUsers] ON 

INSERT [dbo].[JobUsers] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [UserId], [Status], [JobName], [JobDescription]) VALUES (2, 0, 1, CAST(N'2020-06-27T17:30:33.2908364' AS DateTime2), CAST(N'2020-06-27T16:14:59.3926806' AS DateTime2), CAST(N'2020-06-27T17:30:33.3161418' AS DateTime2), 1, 4, 0, N'Prvi Posao Izmena', N'Opis posla Izmena')
INSERT [dbo].[JobUsers] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [UserId], [Status], [JobName], [JobDescription]) VALUES (3, 1, 0, NULL, CAST(N'2020-06-28T13:38:07.8758412' AS DateTime2), NULL, 3, 4, 0, N'Najnovoji Posao', N'Opis posla Izmena')
INSERT [dbo].[JobUsers] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [JobId], [UserId], [Status], [JobName], [JobDescription]) VALUES (4, 0, 1, CAST(N'2020-06-28T18:27:51.7180273' AS DateTime2), CAST(N'2020-06-28T13:38:15.2530116' AS DateTime2), CAST(N'2020-06-28T18:27:51.7407874' AS DateTime2), 4, 4, 1, N'Najnovoji Posao 3', N'Opis posla Izmena')
SET IDENTITY_INSERT [dbo].[JobUsers] OFF
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CityName]) VALUES (1, 1, 0, NULL, CAST(N'2020-05-27T13:41:32.3660717' AS DateTime2), NULL, N'Beograd')
INSERT [dbo].[Locations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CityName]) VALUES (2, 0, 1, CAST(N'2020-05-28T11:33:26.5072680' AS DateTime2), CAST(N'2020-05-27T13:55:37.5876961' AS DateTime2), CAST(N'2020-05-28T11:33:26.5538243' AS DateTime2), N'Novi Sad')
INSERT [dbo].[Locations] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [CityName]) VALUES (1002, 1, 0, NULL, CAST(N'2020-06-19T15:32:21.5588756' AS DateTime2), NULL, N'Kragujevac')
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [RoleName]) VALUES (1, 1, 0, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'Admin')
INSERT [dbo].[Roles] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [RoleName]) VALUES (2, 1, 0, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[RoleUseCases] ON 

INSERT [dbo].[RoleUseCases] ([Id], [RoleId], [UseCaseId], [Data], [UsrCaseName]) VALUES (1, 2, 3, NULL, NULL)
INSERT [dbo].[RoleUseCases] ([Id], [RoleId], [UseCaseId], [Data], [UsrCaseName]) VALUES (2, 2, 4, NULL, NULL)
INSERT [dbo].[RoleUseCases] ([Id], [RoleId], [UseCaseId], [Data], [UsrCaseName]) VALUES (3, 2, 6, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RoleUseCases] OFF
SET IDENTITY_INSERT [dbo].[UseCaseLoggers] ON 

INSERT [dbo].[UseCaseLoggers] ([Id], [UseCaseDatetime], [UserId], [UseCaseName], [Data]) VALUES (2, CAST(N'2020-06-27T12:48:42.7677245' AS DateTime2), NULL, N'Get locations ', N'{"Name":null,"PerPage":10,"Page":1}')
INSERT [dbo].[UseCaseLoggers] ([Id], [UseCaseDatetime], [UserId], [UseCaseName], [Data]) VALUES (3, CAST(N'2020-06-27T12:51:39.0661591' AS DateTime2), NULL, N'Get Categories', N'{"Name":null,"PerPage":10,"Page":1}')
INSERT [dbo].[UseCaseLoggers] ([Id], [UseCaseDatetime], [UserId], [UseCaseName], [Data]) VALUES (4, CAST(N'2020-06-27T13:16:40.6145679' AS DateTime2), 4, N'Get locations ', N'{"Name":null,"PerPage":10,"Page":1}')
GO
SET IDENTITY_INSERT [dbo].[UseCaseLoggers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [Username], [Password], [Name], [Surname], [Email], [Phone], [Birthdate], [CvPath], [AvatarPath], [AvatarAlt], [RoleId]) VALUES (2, 1, 0, NULL, CAST(N'2020-06-21T15:41:05.7457131' AS DateTime2), NULL, N'TestUsername', N'Testpass', N'TEst', N'Testic', N'mail@gmail.com', 633363996, CAST(N'1981-11-12T00:00:00.0000000' AS DateTime2), N'b1acc856-79a7-467d-929d-23611dd3fe44MilanPeuracaCV.pdf', N'e443da1a-40c2-43e7-a8cb-6d367ee79846.png', N'AltTest', 2)
INSERT [dbo].[Users] ([Id], [IsActive], [IsDeleted], [DeletedAt], [CreatedAt], [ModifiedAt], [Username], [Password], [Name], [Surname], [Email], [Phone], [Birthdate], [CvPath], [AvatarPath], [AvatarAlt], [RoleId]) VALUES (3, 1, 0, NULL, CAST(N'2020-06-21T16:29:25.5360788' AS DateTime2), NULL, N'MilosSi9', N'Milos123456789', N'Milos', N'Simic', N'milos@gmail.com', 633363996, CAST(N'1998-11-12T00:00:00.0000000' AS DateTime2), N'a6474089-e27f-4092-a9a0-4bf1be89938dMilanPeuracaCV.pdf', N'5c6211fb-3912-40db-b5ef-54df748a92aa.png', N'Opis Slike Profilne', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_CategoryName]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_CategoryName] ON [dbo].[Categories]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobCategories_CategoryId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_JobCategories_CategoryId] ON [dbo].[JobCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobLocations_JobId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_JobLocations_JobId] ON [dbo].[JobLocations]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobLocations_LocationId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_JobLocations_LocationId] ON [dbo].[JobLocations]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobUsers_JobId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_JobUsers_JobId] ON [dbo].[JobUsers]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobUsers_UserId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_JobUsers_UserId] ON [dbo].[JobUsers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Locations_CityName]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Locations_CityName] ON [dbo].[Locations]
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_RoleName]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_RoleName] ON [dbo].[Roles]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleUseCases_RoleId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_RoleUseCases_RoleId] ON [dbo].[RoleUseCases]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UseCaseLoggers_UserId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_UseCaseLoggers_UserId] ON [dbo].[UseCaseLoggers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 1.7.2020. 16:52:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'emptyavatar.jpg') FOR [AvatarPath]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'basic-avatar') FOR [AvatarAlt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [RoleId]
GO
ALTER TABLE [dbo].[JobCategories]  WITH CHECK ADD  CONSTRAINT [FK_JobCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobCategories] CHECK CONSTRAINT [FK_JobCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[JobCategories]  WITH CHECK ADD  CONSTRAINT [FK_JobCategories_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobCategories] CHECK CONSTRAINT [FK_JobCategories_Jobs_JobId]
GO
ALTER TABLE [dbo].[JobLocations]  WITH CHECK ADD  CONSTRAINT [FK_JobLocations_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobLocations] CHECK CONSTRAINT [FK_JobLocations_Jobs_JobId]
GO
ALTER TABLE [dbo].[JobLocations]  WITH CHECK ADD  CONSTRAINT [FK_JobLocations_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[JobLocations] CHECK CONSTRAINT [FK_JobLocations_Locations_LocationId]
GO
ALTER TABLE [dbo].[JobUsers]  WITH CHECK ADD  CONSTRAINT [FK_JobUsers_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
GO
ALTER TABLE [dbo].[JobUsers] CHECK CONSTRAINT [FK_JobUsers_Jobs_JobId]
GO
ALTER TABLE [dbo].[JobUsers]  WITH CHECK ADD  CONSTRAINT [FK_JobUsers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[JobUsers] CHECK CONSTRAINT [FK_JobUsers_Users_UserId]
GO
ALTER TABLE [dbo].[RoleUseCases]  WITH CHECK ADD  CONSTRAINT [FK_RoleUseCases_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUseCases] CHECK CONSTRAINT [FK_RoleUseCases_Roles_RoleId]
GO
ALTER TABLE [dbo].[UseCaseLoggers]  WITH CHECK ADD  CONSTRAINT [FK_UseCaseLoggers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[UseCaseLoggers] CHECK CONSTRAINT [FK_UseCaseLoggers_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
USE [master]
GO
